body {
    margin: 0;
    font-family: Arial;
    display: flex;
    transition: 0.3s;
}

/* Dark Mode */
body.dark {
    background: #121212;
    color: white;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #111;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 12px;
    cursor: pointer;
}

.sidebar li:hover {
    background: #333;
}

/* Main */
.main {
    flex: 1;
    padding: 20px;
}

/* Login */
.login-box {
    max-width: 300px;
    margin: 100px auto;
    text-align: center;
}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
}

/* Dark cards */
body.dark .card {
    background: #1e1e1e;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td, th {
    border: 1px solid #ccc;
    padding: 10px;
}

/* Hide */
.hidden {
    display: none;
}

/* Mobile */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}